<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facebook</title>
 <link rel="shortcut icon" href="../../images/facebook.ico" type="image/x-icon">
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
  </head>
  <body>
    <div id="main">
      <div id="story-sec">
        <div id="aman">
          <img src="" alt="" >
          <div id="story-user">
            <div id="story-part1">
              <img src="" alt="">
              <h4></h4>
            </div>
            <i class="ri-close-line"></i>
          </div>
        </div>
      </div>
      <div id="mobile-search-option">
        <div id="search-mb-nav">
          <i onclick="closeSearchBox()" class="ri-arrow-left-line"></i>
          <div id="search-mb-input">
            <input id="search-mb" type="text" placeholder="Search" name="search">
            <i onclick="clearInputMB()" class="ri-close-fill"></i>
          </div>
        </div>
        <div id="search-mb-user">
          <p style = "opacity: .5;">No recent Search</p>
        </div>
      </div>
      <div id="post-loader-mb">
        <div style="border-bottom: 1px solid #dadada;" id="post-mb-nav">
          <div class="arrowIcon" id="nav-close" onclick="postFormClose()">
            <i class="ri-arrow-left-line"></i>
          </div>
          <p>Create Post</p>
        </div>
        <div id="post-mb-nav">
          <div class="userimg" id="nav-close">
        <img src="../images/profiledp/<%=userdata.profilepic%>" alt="">
          </div>
          <div id="username">
            <h3><%=userdata.fullname%></h3>
           <p style="font-size: 3.8vw;"><i class="ri-earth-fill"></i> Public <i class="ri-arrow-down-s-fill"></i></p>
          </div>
        </div>
      <form action="/posts" method="post" enctype="multipart/form-data">
        <textarea id="postWrite" name="post" placeholder="What's on your mind,"></textarea>
        <input disabled id="post-submit" type="submit" value="Post">
        <input id="post-file-mb" hidden type="file" name="postImage">
        <div id="font">
          <h3>Aa</h3>
        </div>
      </form>
       <div style="padding: 0 4vw; height: 8%;" class="post-last-icons" id="post-mb-nav">
        <i onclick="postImageMb()" style="color: green" class="ri-image-2-fill"></i>
                      
        <i style="color: royalblue;" class="ri-user-fill"></i>
        <i style="color: orange;" class="ri-emoji-sticker-line"></i>
        <i style="color: crimson;" class="ri-map-pin-2-fill"></i>
        <i class="ri-more-fill"></i>
       </div>
      </div>
      <div id="editProfile-mb">
        <div id="content">
          <div id="nav">
           <h3>Update Your Profile</h3>
            <i onclick="closeEditProfile()" id="close-icon" class="ri-close-fill"></i>
          </div>
          <div id="inp">
            <form
              style="position: relative"
              action="/updateprofile"
              method="post"
            >
              <input
                style="margin-bottom: 5px"
                type="text"
                name="fullname"
                placeholder="Fullname"
                value="<%=userdata.fullname%>"
              />
  
              <label
                style="
                  position: absolute;
                  left: 25px;
                  top: 72px;
                  color: red;
                  display: none;
                  font-size: 11px;
                "
                for=""
                >username already exists.</label
              >
              <input
                class="inp"
                type="text"
                name="username"
                placeholder="Username"
                value="<%=userdata.username%>"
              />
  
              <input
                type="text"
                name="number"
                placeholder="Phone Number"
                value="<%=userdata.number%>"
              />
              <input
                disabled
                type="email"
                name="email"
                placeholder="Email Address"
                value="<%=userdata.email%>"
              />
  
              <input
                disabled
                type="number"
                name="age"
                placeholder="Age"
                value="<%=userdata.age%>"
              />
              <input
                style="margin-top: 30px; background-color: royalblue"
                id="updatebtn"
                type="submit"
                value="Update"
              />
            </form>
          </div>
        </div>
      </div>
      <div id="logout-mb">
        <div id="logout-nav-mb" style=" box-shadow: 0px 0px 6px 1px grey;">
          <div id="logout-nav-part1">
            <div onclick="logoutPageOff()" class="arrowIcon" id="nav-close">
              <i class="ri-arrow-left-line"></i>
            </div>
            <p>Menu</p>
          </div>
          <div id="logout-nav-part2">
            <i class="ri-settings-5-fill"></i>
            <i onclick="openSearchBox()" class="ri-search-line"></i>
          </div>
        </div>
        <div id="logout-user-mb">
          <div id="logout-user-part1">
            <div id="loguser-profile">
              <img src="../../images/profiledp/<%=userdata.profilepic%>" alt="">
              <h4><%=userdata.fullname%></h4>
            </div>
            <i class="ri-arrow-down-s-line"></i>
          </div>
          <div id="logout-user-part2">
            <i class="ri-add-fill"></i>
            <h4>Create another profile</h4>
          </div>
        </div>
        <div id="logout-icons">
          <h5>All shortcuts</h5>
          <div id="logout-icons-part">
            <a href="/feed">
              <i class="ri-feedback-fill"></i>
              <h5>Feeds</h5>
            </a>
            <a href="#">
              <i class="ri-memories-fill"></i>
              <h5>Memories</h5>
            </a>
          </div>
          <div id="logout-icons-part">
            <a href="#">
              <i class="ri-bookmark-fill"></i>
              <h5>Saved</h5>
            </a>
            <a href="#">
              <i class="ri-group-2-fill"></i>
              <h5>Groups</h5>
            </a>
          </div>
          <div id="logout-icons-part">
            <a href="#">
              <i class="ri-bookmark-fill"></i>
              <h5>Video</h5>
            </a>
            <a href="#">
              <i class="ri-slideshow-3-fill"></i>
              <h5>Marketplace</h5>
            </a>
          </div>
          <div id="logout-icons-part">
            <a href="#">
              <i id="group" class="ri-group-fill"></i>
              <h5>Friends</h5>
            </a>
            <a href="#">
              <i id="group" class="ri-calendar-close-fill"></i>
              <h5>Events</h5>
            </a>
          </div>
        </div>
        <button id="seemorebtn">See more</button>
        <div id="help-setting">
          <div id="help-setting-part">
            <div id="setting-child">
              <i class="ri-question-fill"></i>
              <h5>Help & support</h5>
            </div>
            <i class="ri-arrow-down-s-line"></i>
          </div>
          <div id="help-setting-part">
            <div id="setting-child">
              <i class="ri-settings-5-fill"></i>
              <h5>Settings & privacy</h5>
            </div>
            <i class="ri-arrow-down-s-line"></i>
          </div>
        </div>
        <a href="/logout" class="logoutButton">Log out</a>
      </div>
      <div id="post-loader">
        <div id="post-content">
          <div id="post-nav">
            <h2>Create post</h2>
            <div id="close-icon">
              <i class="ri-close-fill"></i>
            </div>
          </div>
          <div id="post-text">
            <div id="text-top">
              <div class="circle">
                <img src="../images/profiledp/<%=userdata.profilepic%>" alt="" />
              </div>
              <div id="text-top-right">
                <h3><%=userdata.fullname%></h3>
                <p>
                  <i class="ri-earth-line"></i> Public
                  <i class="ri-arrow-down-s-fill"></i>
                </p>
              </div>
            </div>
            <div id="textarea">
              <form id="post-form" action="/posts" method="post" enctype="multipart/form-data">
                <textarea id="texta"
                  name="post"
                  placeholder="What's on your mind,"
                ></textarea>
                <input id="post-file" hidden type="file" name="postImage">
                <div id="mid-nav">
                  <div id="font">
                    <h3>Aa</h3>
                  </div>
                  <i class="ri-emoji-sticker-line"></i>
                </div>
                <div id="btm-nav">
                  <div id="btm-nav-prt1">
                    <h4 class="h4-text">Add to your post</h4>
                    <div id="btm-icons">
                      <i onclick="postImage()" style="color: green" class="ri-image-2-fill"></i>
                      <i style="color: royalblue" class="ri-user-fill"></i>
                      <i
                        style="color: rgb(241, 241, 10)"
                        class="ri-emoji-sticker-line"
                      ></i>
                      <i style="color: red" class="ri-map-pin-2-fill"></i>
                      <i style="color: #2abba7" class="ri-file-gif-fill"></i>
                      <i style="opacity: 0.6" class="ri-more-fill"></i>
                    </div>
                  </div>
                  <input id="post-btn" type="submit" value="Post" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="page1">
        <div id="nav">
          <div id="nav-child1-mb">
          <div id="nav-prt1">
            <a style="border-radius: 50%;" href="/profile">
              <img id="fblogo"
                src="https://upload.wikimedia.org/wikipedia/commons/b/b8/2021_Facebook_icon.svg"
                alt=""
              />
            </a>
            <!-- <form action="/searchUser" method="post"> -->
              <form action="#">
            <div id="search">
              <i class="ri-search-line"></i>
              <input id="searchUserInp" name="search" type="text" placeholder="Search Facebook" />
              <div id="search-div">
                <div class="search-User">
                  <div id="img-div">

                    <img src="" alt="">
                  </div>
                    <div class="search-User-part1">
                      <h4>Mohammad Aman</h4>
                      <p>1 posts</p>
                    </div>
                </div>
                
              </div>
            </div>
          </form>
          </div>
          <div id="nav-prt1-mb">
            <img style="width: 120px; height: 22px;" id="fblogoname"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Facebook_Logo_%282019%29.svg/1280px-Facebook_Logo_%282019%29.svg.png"
            alt=""
          />
          </div>
          <div id="nav-prt2-mb">
            <i onclick="postForm()" class="ri-add-line"></i>
            <i onclick="openSearchBox()" class="ri-search-line"></i>
            <i class="ri-messenger-fill"></i>
          </div>
        </div>
        <div id="nav-child2-mb">
          <a style="text-decoration: none;" href="/profile"><i class="ri-home-4-fill"></i></a>
          <i class="ri-slideshow-3-line"></i>
          <i class="ri-group-line"></i>
          <i class="ri-notification-2-line"></i>
          <i onclick="logoutPageOpen()" class="ri-menu-line"></i>
        </div>
          <div id="nav-prt2">
            <a style="text-decoration: none;" href="/profile" class="square">
              <i class="ri-home-4-fill"></i>
            </a>
            <div class="square">
              <i class="ri-tv-2-line"></i>
            </div>
            <div class="square">
              <i class="ri-store-2-line"></i>
            </div>
            <div class="square">
              <i class="ri-group-2-line"></i>
            </div>
            <div class="square">
              <i class="ri-gamepad-line"></i>
            </div>
          </div>
          <div id="nav-prt3">
            <div id="logout-list">
              <div id="log-child1">
              <div id="log-child1-prt1">
                <a href="/loguser">
                <img  src="../images/profiledp/<%=userdata.profilepic%>" alt="">
                <h3><%= userdata.fullname%></h3></a>
              </div>
              <div id="log-child1-prt2">
                <a href="">See all profiles</a>
              </div>
            </div>
              <a href="">
                <div class="prt1">
                <div class="circle">
                  <i class="ri-settings-5-fill"></i>
                </div>
                <h4>Setting & privacy</h4>
              </div>
              <i style="font-size: 35px; opacity: .6;" class="ri-arrow-right-s-line"></i>
              </a>
              <a href="">
                <div class="prt1">
                <div class="circle">
                  <i class="ri-question-fill"></i>
                </div>
                <h4>Help & support</h4>
              </div>
              <i style="font-size: 35px; opacity: .6;" class="ri-arrow-right-s-line"></i>
              </a>
              <a href="">
                <div class="prt1">
                <div class="circle">
                  <i class="ri-moon-fill"></i>
                </div>
                <h4>Display & accessibility</h4>
              </div>
              <i style="font-size: 35px; opacity: .6;" class="ri-arrow-right-s-line"></i>
              </a>
              <a href="">
                <div class="prt1">
                <div class="circle">
                  <i class="ri-feedback-fill"></i>
                </div>
                <h4>Give feedback</h4>
              </div>
              </a>
              <a href="/logout">
                <div class="prt1">
                <div class="circle">
                  <i class="ri-logout-box-r-fill"></i>
                </div>
                <h4>Log out</h4>
              </div>
              </a>
              <p>
                <a href="">Privacy</a> · <a href="">Terms</a> ·
                <a href="">Advertising</a> · <a href="">Ad choices</a
                ><i class="ri-google-play-line"></i> · <a href="">Cookies</a> ·
                <a href="">More</a> · Meta ©️ 2023
              </p>
            </div>
            <div class="circle">
              <i class="ri-menu-line"></i>
            </div>
            <div class="circle">
              <i class="ri-messenger-fill"></i>
            </div>
            <div class="circle">
              <i class="ri-notification-2-fill"></i>
            </div>

            <div  class="circle">
              <img id="image-click" src="../images/profiledp/<%=userdata.profilepic%>" alt="" />
            </div>
          </div>
        </div>
        
        <script>
          function postImage(){
            document.querySelector("#post-file").click()
          }
          function postImageMb(){
            document.querySelector("#post-file-mb").click()
          }
          document.querySelector("#post-file").addEventListener("change", function(){
   document.querySelector(".h4-text").textContent = " 1 Image Added....."
   document.querySelector(".h4-text").style.color = "royalblue"
            })
        
   var search = document.querySelector("#searchUserInp")
   let clutter = "";
   search.addEventListener("input", async function(){
    if(search.value.length > 0){
     const user = await axios.post(`/checkUsername` , {search: search.value})
    //  console.log(user) 
     clutter =""
     user.data.forEach(function(elem){
         clutter += `  <a href ="/loguser/${elem.username}" class="search-User">
                  <div id="img-div">

                    <img src="/images/profiledp/${elem. profilepic}" alt="">
                  </div>
                    <div class="search-User-part1">
                      <h4>${elem.fullname}</h4>
                      <p>${elem.posts.length} Posts</p>
                    </div>
                </a>`
     })
     document.querySelector("#search-div").innerHTML = clutter
      document.querySelector("#search-div").style.display = "initial"
    }
    else{
      document.querySelector("#search-div").style.display = "none"
    }
   })
   var search_mb = document.querySelector("#search-mb")
   var search_mb_inp = document.querySelector("#search-mb-input>i")
   var searchInp = document.querySelector("#search-mb-input>input")
   let searchUser = "";
   search_mb.addEventListener("input", async function(){
    if(search_mb.value.length >0){

      const user = await axios.post(`/checkUsername` , {search: searchInp.value})
    //  console.log(user) 
     searchUser =""
     user.data.forEach(function(elem){
         searchUser += `<a href="/loguser/${elem.username}" class="allusers-mb">
            <img src="/images/profiledp/${elem. profilepic}" alt="">
            <div id="user-name-mb">
              <h4>${elem.fullname}</h4>
              <p>${elem.posts.length} Posts</p>
            </div>
          </a>`
     })
     document.querySelector("#search-mb-user").innerHTML = searchUser;

    search_mb_inp.style.opacity = 1
    }
    else{
      search_mb_inp.style.opacity = 0
      document.querySelector("#search-mb-user").innerHTML = '<p style = "opacity: .5;">No recent Search</p>';
    }
   })
   function clearInputMB(){
    document.querySelector("#search-mb-input>input").value = "";
    document.querySelector("#search-mb-user").innerHTML = '<p style = "opacity: .5;">No recent Search</p>';
    search_mb_inp.style.opacity =0;
   }
   function openSearchBox(){
    document.querySelector("#mobile-search-option").style.display = "initial"
   }
   function closeSearchBox(){
    document.querySelector("#mobile-search-option").style.display = "none"
   }


  // var inp= document.querySelector("#searchUserInp")
  // inp.addEventListener("input", async function () {
  //       if (inp.value.length > 0) {
  //         const result = await axios.post("/checkUsername", {
  //           search: inp.value,
  //         });
  //         console.log(result);
  //         // let clutter = "";
  //         // result.forEach(function (data) {
  //         //   clutter += `<div class="search-User">
  //         //         <div id="img-div">

  //         //           <img src=`` alt="">
  //         //         </div>
  //         //           <div class="search-User-part1">
  //         //             <h4>Mohammad Aman</h4>
  //         //             <p>1 posts</p>
  //         //           </div>
  //         //       </div>`;
  //         // });
  //         // document.querySelector("#search-div").innerHTML = clutter;
  //       }
  //     });
        </script>