<% include ./partials/header.ejs %>
<!-- <link rel="stylesheet" href="../stylesheets/style.css"> -->
<style>
  #nav-prt2 .square:nth-child(1) {
    border: none;
    color: #000;
  }
  #nav-prt2 .square:nth-child(1) i {
    color: transparent;
    -webkit-text-stroke: 2.5px black;
  }
  #nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }

  #page1-text {
    /* padding: 0 100px; */
    width: 100%;
    height: 100%;
  }
  #page1-content {
    width: 100%;
    height: 80%;
    background-color: #fff;
  }
  #child1 {
    margin: 0 240px;
    width: 70%;
    height: 70%;
    /* background-color: #fff; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    filter: drop-shadow(0px 0px 5px #cbcbcb);
    position: relative;
  }
  #child1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #profile-elem {
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100px;
    /* background-color: #fff; */
    padding: 10px 30px;
  }
  #profile-pic {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    padding: 5px;
    background-color: #fff;
  }
  #page2-content {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    width: 100%;
    /* height: 50%; */
    padding: 20px 0;
    background-color: #f0f2f5;
  }
  .elem2 {
    width: 50%;
  }
  #el2-btm {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 50px;
    /* margin-left: -12px; */
  }
  .el2-btm-child {
    width: 200px;
  }
  button {
    transition: all ease 0.2s;
    cursor: pointer;
  }
  button:active {
    scale: 0.9;
  }
  .loader {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #dadadabe;
  }
  .loader #content {
    overflow: hidden;
    width: 30%;
    height: 85%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 6px 10px rgba(202, 202, 202, 0.842);
  }
  .loader#container {
    display: flex;
    position: relative;
    width: 70%;
    height: 80%;
    /* background-color: red; */
  }
  .loader #nav {
    padding: 9px 12px;
    padding-left: 8px;
    padding-right: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    /* background-color: red; */
    border-bottom: 1px solid #dadada;
  }
  .loader #nav-prt1 {
    font-size: 15px;
  }
  .loader #nav > i {
    font-size: 34px;
    opacity: 0.7;
    cursor: pointer;
  }
  .loader #nav > i:hover {
    opacity: 1;
  }
  .loader #inp {
    width: 100%;
    height: calc(100% - 75px);
    /* background-color: #dadada; */
  }
  .loader #inp form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 18px;
    padding-bottom: 15px;
    width: 100%;
    /* height: 60%; */
    /* background-color: red; */
  }
  .loader #inp form input {
    background-color: #f5f6f7;
    padding: 13px 16px;
    width: 90%;
    font-size: 17px;
    outline-color: royalblue;
    /* outline: none; */
    border: 1px solid #dadada;
    border-radius: 6px;
    color: #000;
    font-weight: 530;
  }
  .loader #inp form input:nth-last-child(1) {
    margin-top: 6px;
    background-color: #42b72a;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    width: 230px;
    padding: 11px;
    cursor: pointer;
  }
  .loader#inp form input:nth-last-child(1):hover {
    background-color: #37a422;
    color: #fff;
  }
  .loader #inp p {
    /* margin-top: px; */
    padding: 6px 10px;
    padding-left: 18px;
    font-size: 12px;
  }
  #pencil {
    position: absolute;
    width: 35px;
    height: 35px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #cbc8c8;
    right: 1vw;
    bottom: 1vw;
    box-shadow: 0px 0px 10px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease 0.2s;
  }
  #pencil:hover {
    background-color: rgb(170, 168, 168);
  }
  #pencil:active {
    scale: 0.9;
  }
  .container-mb {
    display: none;
  }
  @media (max-width: 600px) {
    #main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      /* padding: 0vw 2.5vw; */
      min-height: 90vh;
      width: 100vw;
      background: #fff;
      position: relative;
      overflow-x: hidden;
    }

    #container {
      display: none;
    }
   
    .container-mb {
      display: initial;
      width: 100%;
      min-height: 100%;
      /* overflow: hidden; */
      background-color: #f5f5f5;
      overflow: auto;
      /* overflow-x: hidden; */
    }
    #nav {
      display: none;
    }
    #USER-NAV {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 8%;
      background-color: #f5f5f5;
      padding: 0 2.5vw;
      flex-shrink: 0;
      border-bottom: 1px solid #dadada;
      box-shadow: 0px 0px 6px 1px grey;
    }
    #USER-NAV i {
      font-size: 9vw;
    }
    #USER-NAV-PART2 {
      display: flex;
      align-items: center;
    }
    #USER-PROFILE {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      position: relative;
      width: 100%;
      height: 42%;
     background-color: #fff;
    }
    #USER-PROFILE > img {
      width: 100%;
      height: 70%;
      object-fit: cover;
    }
    #USER-PROFILE-PART2 {
      padding: 0 2.5vw;
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2vw;
      bottom: 2vw;
    }
    #USER-PROFILE-PART2 img {
      width: 35vw;
      height: 35vw;
      border-radius: 50%;
      object-fit: cover;
    }
    #USER-FRIEND {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      padding: 0 2.5vw;
      width: 100%;
      height: 6%;
      background-color: #fff;
      /* gap: 3vw; */
      justify-content: space-between;
    }
    #USER-FRIEND button {
      font-size: 4vw;
      padding: 2.7vw 7vw;
      border: none;
      border-radius: 5px;
      background-color: #dadada;
    }
    #USER-FRIEND button:nth-child(1){
      border: none;
      background-color: royalblue;
      color: #fff;
    }
    #USER-FRIEND button:nth-last-child(1){
      padding: 2.5vw 3vw;
      font-size: 4vw;
    }
    #editProfile-mb{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    background-color: #dadadabe;
  }
  #editProfile-mb #content {
    overflow: hidden;
    width: 90%;
    height: 85%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 6px 10px rgba(202, 202, 202, 0.842);
  }
  #editProfile-mb #container {
    display: flex;
    position: relative;
    width: 70%;
    height: 80%;
    /* background-color: red; */
  }
  #editProfile-mb #nav {
    padding: 9px 18px;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 12%;
    /* background-color: red; */
    border-bottom: 1px solid #dadada;
  }
  
  #editProfile-mb #nav > i {
    font-size: 34px;
    opacity: 0.7;
    cursor: pointer;
  }
  #editProfile-mb #nav > i:hover {
    opacity: 1;
  }
  #editProfile-mb #inp {
    width: 100%;
    height: 88%;
    /* background-color: #dadada; */
  }
  #editProfile-mb #inp form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 18px;
    padding-bottom: 15px;
    width: 100%;
    /* height: 60%; */
    /* background-color: red; */
  }
  #editProfile-mb #inp form input {
    background-color: #f5f6f7;
    padding: 13px 16px;
    width: 90%;
    font-size: 17px;
    outline-color: royalblue;
    /* outline: none; */
    border: 1px solid #dadada;
    border-radius: 6px;
    color: #000;
    font-weight: 530;
  }
  #editProfile-mb #inp form input:nth-last-child(1) {
    margin-top: 6px;
    background-color: #42b72a;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    width: 230px;
    padding: 11px;
    cursor: pointer;
  }
  #editProfile-mb #inp form input:nth-last-child(1):hover {
    background-color: #37a422;
    color: #fff;
  }
  #editProfile-mb #inp p {
    /* margin-top: px; */
    padding: 6px 10px;
    padding-left: 18px;
    font-size: 12px;
  }
  .mb-pencil {
    position: absolute;
    width: 8vw;
    height: 8vw;
    font-size: 5vw;
    border-radius: 50%;
    background-color: #dadada;
    right: 3vw;
    bottom: 9vw;
    box-shadow: 0px 0px 10px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease 0.2s;
  }
  .mb-pencil:active {
    scale: 0.9;
  }
  .mb-pencil-cover {
    position: absolute;
    width: 8vw;
    height: 8vw;
    font-size: 5vw;
    border-radius: 50%;
    background-color: #dadada;
    right: 3vw;
    top: 56%;
    box-shadow: 0px 0px 10px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease 0.2s;
  }
  .mb-pencil-cover:active {
    scale: 0.9;
  }


  .el3-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.el3-top-left {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  /* gap: 1vw; */
}
.image {
  padding: 2px;
  border: 3px solid royalblue;
  width: 14.5vw;
  height: 14vw;
  border-radius: 50%;
  overflow: hidden;
  /* background-color: royalblue; */
}


  }
</style>

<div class="container-mb">
  <div id="USER-NAV">
    <a style="text-decoration: none; color: #000;" href="/profile"><i class="ri-arrow-left-line"></i></a>
    <div id="USER-NAV-PART2">
      <h3><%=userdata.fullname%></h3>
      <i class="ri-arrow-down-s-fill"></i>
    </div>
    <i onclick="openSearchBox()" class="ri-search-line"></i>
  </div>
  <div id="USER-PROFILE">
    <img
      src="../images/profiledp/<%=userdata.coverpic%>"
      alt=""
    />
    <form
          style="display: none"
          id="coverpic-form"
          action="/coverpic"
          method="post"
          enctype="multipart/form-data"
        >
          <input type="file" name="coverpic" id="coverinp" />
          <input type="submit" value="submit" />
        </form>
        
    <div class="mb-pencil-cover"><i class="ri-camera-fill"></i></div>
    <div id="USER-PROFILE-PART2">
      <img style="box-shadow: 0px 0px 10px 3px #b6b6b6;"
        src="../images/profiledp/<%=userdata.profilepic%>"
        alt=""
      />
      <div class="mb-pencil"><i class="ri-camera-fill"></i></div>
      <form
                style="display: none"
                id="profile-form"
                action="/uploaddp"
                method="post"
                enctype="multipart/form-data"
              >
                <input type="file" name="profiledp" id="inpfile" />
                <input type="submit" value="Upload" />
              </form>
      <h3><%=userdata.fullname%></h3>
    </div>
  </div>
  <div id="USER-FRIEND">
    <button id="addStory"><i class="ri-add-line"></i> Add to story</button>
    <button id="openEdit" onclick="editProfile()"><i class="ri-pencil-fill"></i> Edit profile</button>
    <button><i class="ri-more-fill"></i></button>
  </div>
  <div id="post-sec-mb">
    <img src="../images/profiledp/<%=userdata.profilepic%>" alt="">
    <div onclick="postForm()" id="post-form-mb">
      <p>Write Something here...</p>
    </div>
    <i onclick="postForm()" class="ri-image-add-fill"></i>
  </div>
  <div id="allPosts">
    <% userdata.posts.reverse().forEach(function(data){ %>
      <div id="posts-mb">
        <div class="el3-top">
          <div class="el3-top-left">
           <div class="image">
              <img
                style="object-fit: cover"
                src="../images/profiledp/<%=userdata.profilepic%>"
                alt=""
              />
            </div>
            <% if(data.userId.username !== userdata.username){ %>
              <a
              style="text-decoration: none; color: #000; display: flex; align-items: center; gap: 4vw;"
              href="/loguser/<%=data.userId.username%>"
              >
            <div class="name">
                <h3><%=userdata.fullname%></h3>
                <p><%=data.time%></p>
              </div></a
            >
            <% } else{ %>
            <a style="text-decoration: none; color: #000" href="/loguser"
              ><div class="name">
                <h3><%=data.userId.fullname%></h3>
                <p><%=data.time%></p>
              </div></a
            >
            <% } %>
          </div>
          <div class="el3-top-right">
            <div class="icons">
              <i class="ri-more-fill"></i>
            </div>
            <div class="icons">
              <% if (!data.picture) { %>
                <a href="/delete/<%=data.post%>" style="text-decoration: none; color: #000;"><i class="ri-close-fill"></i></a>
                <% } else{ %>
                  <a href="/delete/<%=data.picture%>/<%=data.post%>" style="text-decoration: none; color: #000;"><i class="ri-close-fill"></i></a>
                  <% } %>
            </div>
          </div>
        </div>
        <% if (!data.picture) { %>
          <h1 style="padding: 4vw 0vw; font-size: 5vw; font-weight: 500;"><%=data.post%></h1>
          <% } else{ %>
           <h1 style="padding: 4vw 0vw; font-size: 5vw; font-weight: 500;"><%=data.post%></h1>
            <img id="post-photo" style="width: 100%; height: 300px; margin-bottom: 1vw; object-fit: cover; display: flex;" src="/images/profiledp/<%=data.picture%>" alt="">
            <% } %>
        <div class="el3-btm">
          <div class="el3-btm-child">
            <% if(data.likes.length > 0){ %>
            <i style="color: royalblue;font-size: 4vw;" class="ri-thumb-up-fill"></i>
            <p style="font-size: 4vw;"><%=data.likes.length%></p>
            <% } %>
          </div>
          <div class="el3-btm-child2">
            <div class="left">
              <a id="like" href="/like/<%=data._id%>">
                <% if(data.likes.indexOf(userdata._id) === -1){ %>
                <i style="font-size: 4vw;" class="ri-thumb-up-line"></i>
                <% } else{ %>
                <i style="color: royalblue; font-size: 4vw;" class="ri-thumb-up-fill"></i>
                <% } %> <% if(data.likes.indexOf(userdata._id) === -1){ %>
                <p style="font-size: 4vw;">Like</p>
                <% } else{ %>
                <p style="color: royalblue;font-size: 4vw;">Like</p>
                <% } %>
              </a>
            </div>
  
            <div class="left comments">
              <i style="font-size: 4vw;" class="ri-chat-1-line"></i>
              <p style="font-size: 4vw;">Comment</p>
            </div>
            <div class="left">
              <i style="font-size: 4vw;" class="ri-share-forward-line"></i>
              <p style="font-size: 4vw;">Share</p>
            </div>
          </div>
        </div>
        <form
        class="commentForm"
        action="/submitComment/<%=data._id%>"
        method="post"
      >
        <img src="../images/profiledp/<%=userdata.profilepic%>" alt="" />
        <input
          class="commentInp"
          name="comment"
          type="text"
          placeholder="Write Comment Here"
        />
        <div class="closeComment">
          <i class="ri-close-fill"></i>
        </div>
      </form>
      </div>
      <% }) %>
    </div>
</div>
<div id="container">
  <div id="page1-text">
    <div class="loader">
      <div id="content">
        <div id="nav">
          <div id="nav-prt1">
            <h1 style="font-size: 27px">Update Your Profile</h1>
          </div>
          <i id="close-icon" class="ri-close-fill"></i>
        </div>
        <div id="inp">
          <form
            style="position: relative"
            action="/updateprofile"
            method="post"
          >
            <input
              style="margin-bottom: 5px"
              type="text"
              name="fullname"
              placeholder="Fullname"
              value="<%=userdata.fullname%>"
            />

            <label
              style="
                position: absolute;
                left: 25px;
                top: 72px;
                color: red;
                display: none;
                font-size: 11px;
              "
              for=""
              >username already exists.</label
            >
            <input
              class="inp"
              type="text"
              name="username"
              placeholder="Username"
              value="<%=userdata.username%>"
            />

            <input
              type="text"
              name="number"
              placeholder="Phone Number"
              value="<%=userdata.number%>"
            />
            <input
              disabled
              type="email"
              name="email"
              placeholder="Email Address"
              value="<%=userdata.email%>"
            />

            <input
              disabled
              type="number"
              name="age"
              placeholder="Age"
              value="<%=userdata.age%>"
            />
            <input
              style="margin-top: 30px; background-color: royalblue"
              id="updatebtn"
              type="submit"
              value="Update"
            />
          </form>
        </div>
      </div>
    </div>
    <div id="page1-content">
      <div style="position: relative" id="child1">
        <div id="pencil"><i class="ri-camera-fill"></i></div>
        <form
          style="display: none"
          id="coverpic-form"
          action="/coverpic"
          method="post"
          enctype="multipart/form-data"
        >
          <input type="file" name="coverpic" id="coverinp" />
          <input type="submit" value="submit" />
        </form>
        <img src="../images/profiledp/<%=userdata.coverpic%>" alt="" />
        <div id="profile-elem">
          <div style="display: flex; align-items: center; gap: 20px" id="part1">
            <div style="position: relative" id="profile-pic">
              <img
                style="
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                  border: 1px solid #dadada;
                "
                src="../images/profiledp/<%=userdata.profilepic%>"
                alt=""
              />
              <form
                style="display: none"
                id="profile-form"
                action="/uploaddp"
                method="post"
                enctype="multipart/form-data"
              >
                <input type="file" name="profiledp" id="inpfile" />
                <input type="submit" value="Upload" />
              </form>
              <div
                style="
                  left: 78%;
                  cursor: pointer;
                  top: 75%;
                  font-size: 20px;
                  width: 31px;
                  height: 31px;
                "
                class="camera"
              >
                <i class="ri-camera-fill"></i>
              </div>
            </div>
            <h1 style="margin-top: 75px"><%= userdata.fullname%></h1>
          </div>
          <div
            style="
              display: flex;
              align-items: center;
              gap: 10px;
              padding-bottom: 30px;
            "
            id="part2"
          >
            <button
              class="story"
              style="
                padding: 10px 15px;
                border: none;
                background-color: royalblue;
                color: #fff;
                word-spacing: 2px;
                font-size: 16px;
                font-weight: 500;
                border-radius: 6px;
              "
            >
              <form
                style="display: none"
                id="story-form"
                action="/uploadstory"
                method="post"
                enctype="multipart/form-data"
              >
                <input type="file" name="story" id="story-inp" />
                <input type="submit" value="Upload" />
              </form>
              <i class="ri-add-fill"></i> Add to story
            </button>
            <button
              class="create-btn"
              style="
                padding: 10px 15px;
                border: none;
                background-color: #dadada;
                color: #000;
                word-spacing: 2px;
                font-size: 16px;
                font-weight: 500;
                border-radius: 6px;
              "
            >
              <i class="ri-pencil-fill"></i> Edit profile
            </button>
            <button
              style="
                padding: 5px 8px;
                border: none;
                background-color: #dadada;
                color: #000;
                word-spacing: 2px;
                font-weight: 500;
                border-radius: 6px;
              "
            >
              <i style="font-size: 25px" class="ri-arrow-drop-down-line"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      style="display: flex; flex-direction: column; align-items: center"
      id="page2-content"
    >
      <div class="elem2">
        <div id="el2-top">
          <div id="post-img">
            <img src="../images/profiledp/<%=userdata.profilepic%>" alt="" />
          </div>
          <div id="post-inp">
            What's on your mind, <span> <%=userdata.fullname%></span>
          </div>
        </div>
        <div id="el2-btm">
          <div class="el2-btm-child">
            <i style="color: red" class="ri-live-fill"></i>
            <h4>Live video</h4>
          </div>
          <div class="el2-btm-child">
            <i style="color: green" class="ri-image-2-fill"></i>
            <h4>Photo/video</h4>
          </div>
          <div class="el2-btm-child">
            <i style="color: orange" class="ri-emoji-sticker-line"></i>
            <h4>Feeling/activity</h4>
          </div>
        </div>
      </div>
      <% userdata.posts.forEach(function(data){ %>
      <div style="width: 50%" class="elem3" id="elem3">
        <div class="el3-top">
          <div class="el3-top-left">
            <div class="image">
              <img
                style="object-fit: cover"
                src="../images/profiledp/<%=userdata.profilepic%>"
                alt=""
              />
            </div>
            <div class="name">
              <h3><%=userdata.fullname%></h3>
              <p><%=data.time%></p>
            </div>
          </div>
          <div class="el3-top-right">
            <div class="icons">
              <i class="ri-more-fill"></i>
            </div>
            <div class="icons">
              <% if (!data.picture) { %>
                <a href="/delete/<%=data.post%>" style="text-decoration: none; color: #000;"><i class="ri-close-fill"></i></a>
                <% } else{ %>
                  <a href="/delete/<%=data.picture%>/<%=data.post%>" style="text-decoration: none; color: #000;"><i class="ri-close-fill"></i></a>
                  <% } %>
            </div>
          </div>
        </div>
        <% if (!data.picture) { %>
          <h1 style="font-size: 20px; font-weight: 500;"><%=data.post%></h1>
          <% } else{ %>
            <h1 style="font-size: 20px; font-weight: 500;"><%=data.post%></h1>
            <img id="post-photo" style="width: 100%; height: 300px; object-fit: cover; display: flex;" src="/images/profiledp/<%=data.picture%>" alt="">
            <% } %>
        <div class="el3-btm">
          <div class="el3-btm-child">
            <% if(data.likes.length > 0){ %>
            <i style="color: royalblue" class="ri-thumb-up-fill"></i>
            <p><%=data.likes.length%></p>
            <% } %>
          </div>
          <div class="el3-btm-child2">
            <div class="left">
              <a id="like" href="/like/<%=data._id%>">
                <% if(data.likes.indexOf(userdata._id) === -1){ %>
                <i class="ri-thumb-up-line"></i>
                <% } else{ %>
                <i style="color: royalblue" class="ri-thumb-up-fill"></i>
                <% } %> <% if(data.likes.indexOf(userdata._id) === -1){ %>
                <p>Like</p>
                <% } else{ %>
                <p style="color: royalblue">Like</p>
                <% } %>
              </a>
            </div>

            <div class="left comments">
              <i class="ri-chat-1-line"></i>
              <p>Comment</p>
            </div>
            <div class="left">
              <i class="ri-share-forward-line"></i>
              <p>Share</p>
            </div>
          </div>
        </div>
        <form class="commentForm" action="/submitComment" method="post">
          <img src="../images/profiledp/<%=userdata.profilepic%>" alt="" />
          <input
            class="commentInp"
            name="comment"
            type="text"
            placeholder="Write Comment Here"
          />
          <div class="closeComment">
            <i class="ri-close-fill"></i>
          </div>
        </form>
      </div>
      <% }) %>
    </div>
  </div>
  <!-- <h1>aman</h1> -->
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js"
  integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  var create_btn = document.querySelector(".create-btn");
  var loader = document.querySelector(".loader");
  var close_icon = document.querySelector(".loader #close-icon");

  function editProfile(){
    document.querySelector('#openEdit').style.opacity = 0.6;
    setTimeout(function () {
      document.querySelector('#editProfile-mb').style.display = "flex";
    }, 500);
  }
  function closeEditProfile(){
    document.querySelector('#openEdit').style.opacity = 1;
    document.querySelector('#editProfile-mb').style.display = "none";
  }
  create_btn.addEventListener("click", function () {
    create_btn.style.opacity = 0.6;
    setTimeout(function () {
      loader.style.display = "flex";
    }, 500);
  });
  close_icon.addEventListener("click", function () {
    create_btn.style.opacity = 1;
    loader.style.display = "none";
  });

  function postForm(){
  document.querySelector("#post-loader-mb").style.top = "0%"
  document.querySelector("#postWrite").focus()
}
function postFormClose(){
  document.querySelector("#post-loader-mb").style.top = "100%"
}
var postWrite = document.querySelector('#postWrite')
  var post_submit = document.querySelector('#post-submit')
postWrite.addEventListener("input", function () {
    if (postWrite.value.length > 0) {
      post_submit.style.display = "intitial";
      post_submit.style.backgroundColor = "royalblue";
      post_submit.disabled = false;
      post_submit.style.color = "#fff";
    } else {
      post_submit.style.backgroundColor = "#f0f2f5f5";
      post_submit.disabled = true;
      post_submit.style.color = "#dadada";
    }
  });

  var inp = document.querySelector(".inp");
  inp.addEventListener("input", function () {
    if (inp.value.length > 0) {
      axios.get(`/userinp/${inp.value}`).then(function (resp) {
        if (resp.data) {
          inp.style.outlineColor = "red";
          inp.style.borderColor = "red";
          document.querySelector("label").style.display = "initial";
          document.querySelector("#updatebtn").style.display = "none";
        } else {
          inp.style.outlineColor = "royalblue";
          inp.style.borderColor = "#dadada";
          document.querySelector("label").style.display = "none";
          document.querySelector("#updatebtn").style.display = "initial";
        }
      });
    }
  });
  var post_loader = document.querySelector("#post-loader");
  var close_icon = document.querySelector("#close-icon");
  var post_inp = document.querySelector("#post-inp");
  var post_btn = document.querySelector("#post-btn");
  var close_icon = document.querySelector("#close-icon i");
  var textarea = document.querySelector("#texta");
  post_inp.addEventListener("click", function () {
    post_loader.style.display = "flex";
    textarea.focus();
  });
  close_icon.addEventListener("click", function () {
    post_loader.style.display = "none";
    post_btn.style.backgroundColor = "#dadada";
    post_btn.style.color = "#000";
  });
  textarea.addEventListener("input", function () {
    if (textarea.value.length > 0) {
      post_btn.style.backgroundColor = "royalblue";
      post_btn.style.color = "#fff";
    } else {
      post_btn.style.backgroundColor = "#f0f2f5f5";
      post_btn.style.color = "#000";
    }
  });
  var dp_icon = document.querySelector(".camera");
  var profile_inp = document.querySelector("#inpfile");
  var profile_form = document.querySelector("#profile-form");

  document.querySelector(".mb-pencil").addEventListener("click", function () {
    profile_inp.click();
  });
  dp_icon.addEventListener("click", function () {
    profile_inp.click();
  });
  profile_inp.addEventListener("change", function () {
    profile_form.submit();
  });
  document.querySelector("#addStory").addEventListener("click", function () {
    document.querySelector("#story-inp").click();
  });
  document.querySelector(".story").addEventListener("click", function () {
    document.querySelector("#story-inp").click();
  });
  document.querySelector("#story-inp").addEventListener("change", function () {
    document.querySelector("#story-form").submit();
  });
  document.querySelector(".mb-pencil-cover").addEventListener("click", function () {
    document.querySelector("#coverinp").click();
  });
  document.querySelector("#pencil").addEventListener("click", function () {
    document.querySelector("#coverinp").click();
  });
  document.querySelector("#coverinp").addEventListener("change", function () {
    document.querySelector("#coverpic-form").submit();
  });
</script>
<% include ./partials/footer2.ejs %>
